/*.focus--mouse:not(.btn) {
  border-color: var(--bs-primary) !important;
  box-shadow: none !important;
  outline: none !important;
}*/
.focus--mouse:not(.btn) {
  border-color: hsl(36, 100%, 30%) !important;
  box-shadow: 0 0 0 2px hsl(36, 100%, 30%) !important;
  outline: none !important;
}

input[type="radio"].focus--mouse:not(.btn) + label {
  border-color: hsl(36, 100%, 30%) !important;
  box-shadow: 0 0 0 2px hsl(36, 100%, 30%) !important;
  outline: none !important;
}

input[type="checkbox"].focus--mouse:not(.btn) + label {
  border-color: hsl(36, 100%, 30%) !important;
  box-shadow: 0 0 0 2px hsl(36, 100%, 30%) !important;
  outline: none !important;
}

.focus--mouse:not(.btn),
.form-check [type="checkbox"]:focus.focus--mouse + label,
.form-check [type="radio"]:focus.focus--mouse + label,
.toggles label input[type="checkbox"]:focus.focus--mouse + .lever {
  border-color: hsl(36, 100%, 30%) !important;
  box-shadow: 0 0 0 2px hsl(36, 100%, 30%) !important;
  outline: none !important;
}

.focus--mouse:not(.btn):not(.button-disabled):not(.defaultbutton):not(.button),
.form-check [type="checkbox"]:focus.focus--mouse + label,
.form-check [type="radio"]:focus.focus--mouse + label,
.toggles label input[type="checkbox"]:focus.focus--mouse + .lever {
  border-color: hsl(36, 100%, 30%) !important;
  box-shadow: 0 0 0 2px hsl(36, 100%, 30%) !important;
  outline: none !important;
}

.formio-component-select .form-control.ui.fluid.selection.dropdown {
  background-color: transparent;

  &:focus:not(.focus--mouse):not([data-focus-mouse=true]) {
    border-color: hsl(0, 0%, 0%) !important;
    box-shadow: 0 0 0 2px hsl(0, 0%, 100%), 0 0 0 5px hsl(0, 0%, 0%);
    outline: 3px solid transparent;
    outline-offset: 3px;
    border: 3px solid #000 !important;
    outline: none !important;
  }
}