:root {
  --bs-body-font-size: 1rem;
  --bs-nav-link-hover-color: $primary;
  --bs-border-radius: 4px;
  --bs-progress-height: 4px;
  --bs-box-shadow: 0 0.5rem 1rem #00000026 !important;
  p {
    --bs-body-font-size: 1rem;
  }
}
