.autocomplete__wrapper {
  position: relative;
  input[type="text"] {
    padding-right: 24px;
    text-overflow: ellipsis;
  }

  .autocomplete__menu.autocomplete__menu--inline {
    &.autocomplete__menu--hidden {
      display: none;
    }
    list-style: none;
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    padding: 0;
    border: 1px solid #c6c6c6;
    z-index: 100;
  }
  .autocomplete__wrapper .autocomplete__menu .autocomplete__hint,
  .autocomplete__wrapper .autocomplete__menu .autocomplete__option,
  .autocomplete__option {
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
    &.autocomplete__option--focused,
    &:hover {
      background-color: #f2f2f2;
    }
  }
}
