.cmp-card {
  margin-bottom: 2rem;
  p.subtitle-small {
    font-size: 1rem;
  }
  @media (max-width: 767px) {
    p.subtitle-small {
      font-size: 1rem;
    }
  }
}

@media (min-width: 576px) {
  .cmp-card {
    margin-bottom: 1.78rem;
  }
}

.cmp-card__second-title {
  margin: 1rem 0;
}

@media (min-width: 576px) {
  .cmp-card__second-title {
    margin: 0.89rem 0;
  }
}

.cmp-card .card-header {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .cmp-card .card-header {
    margin-bottom: 0.889rem;
  }
}

.cmp-card .card-header.m-0 {
  margin: 0 !important;
}

.cmp-card .card:after {
  content: unset;
}

.cmp-card .card.has-bkg-grey,
.cmp-card .card.has-bkg-primary-grey {
  padding: 1.5rem;
  background-color: #ebeef0;
}

@media (min-width: 576px) {
  .cmp-card .card.has-bkg-grey,
  .cmp-card .card.has-bkg-primary-grey {
    padding: 1.33rem;
  }
}

@media (min-width: 768px) {
  .cmp-card .card.has-bkg-grey,
  .cmp-card .card.has-bkg-grey.p-big,
  .cmp-card .card.has-bkg-primary-grey,
  .cmp-card .card.p-big.has-bkg-primary-grey {
    padding: 1.78rem;
  }
}

.cmp-card .card.contacts.has-bkg-primary-grey,
.cmp-card .card.has-bkg-grey.contacts {
  padding: 2.5rem 1rem;
}

@media (min-width: 576px) {
  .cmp-card .card.contacts.has-bkg-primary-grey,
  .cmp-card .card.has-bkg-grey.contacts {
    padding: 2.22rem 0.89rem;
  }
}

.cmp-card .card.has-bkg-grey.shadow-sm,
.cmp-card .card.shadow-sm.has-bkg-primary-grey {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
  border: none;
}

.cmp-card .card.has-bkg-grey .icon-required:after,
.cmp-card .card.has-bkg-primary-grey .icon-required:after {
  content: "*";
}

.cmp-card .card.has-bkg-primary-grey {
  background-color: rgba(0, 122, 82, 0.0509803922);
}

@media (min-width: 992px) {
  .cmp-card .card.card-summary-grey {
    padding: 2.67rem;
  }
}

.cmp-card .card ul {
  list-style: inherit;
}
