$primary: #1c74d9;
.btn-slot {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
  color: #4a4a4a;
  font-size: 0.889em;
  font-weight: 600;
  height: 56px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
  --bs-border-radius: 4px;
  :focus {
    box-shadow: 0 0 0 2px #f90;
  }
  :focus:not(:focus-visible) {
    outline: 0;
  }
  &.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  &.active {
    background-color: $primary;
    color: #fff;
  }
  &:disabled {
    background: linear-gradient(
      to top left,
      #fff calc(50% - 2px),
      #d9364f,
      #fff calc(50% + 2px)
    );
    color: #4a4a4a;
    pointer-events: none;
    -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.17);
    opacity: 0.65;
  }
}

// Componente calendrio
.rdp {
  &-root {
    --rdp-cell-size: 40px;
    --rdp-caption-font-size: 18px;
    --rdp-accent-color: #1c74d9 !important;
    --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
    --rdp-background-color: #e7edff;
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    --rdp-outline: 2px solid $primary;
    --rdp-outline-selected: 3px solid $primary;
    --rdp-selected-color: #fff;
  }

  button {
    &.rdp-day_selected,
    &.rdp-day_selected:focus-visible,
    &.rdp-day_selected:hover {
      color: var(--rdp-selected-color);
      opacity: 1;
      background-color: red;
      border-radius: 100%;
    }
    &.rdp-button[tabindex]:not([tabindex="0"]):not([tabindex^="-"]) {
      opacity: 0.25;
    }
    &.rdp-nav_button {
      border-radius: 100%;
    }
  }
}

.rdp-month {
  .rdp-chevron {
    fill: $primary;
  }
}

.calendar-last-selection {
  background-color: #f2f7fc;
}
