.col-form-label {
  padding-top: 0.375rem;
  padding-left: 0.5rem;
  padding-bottom: 0;
}
.input-group {
  margin: 0 0 20px;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #5b6f82;
  border-radius: 0;
  padding: 0.375rem 0.5rem;
  outline: 0;
  height: 3rem;
  box-shadow: none;
  transition: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-size: 1rem;
  background-size: 70px 45% !important;
}

.formio-component-textfield,
.formio-component-select,
.formio-component-radio,
.formio-component-email,
.formio-component-selectboxes,
.formio-component-currency,
.formio-component-phoneNumber,
.formio-component-address_map,
.formio-component-sdcfile,
.formio-component-textarea {
  .col-form-label {
    font-weight: 600;
    font-size: 0.875rem;
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  textarea,
  .choices__list--single,
  .formio-editor-read-only-content {
    & .form-control {
      color: hsl(210, 17%, 44%);
    }
    color: hsl(210, 17%, 44%);
  }
}

.formio-component-textarea {
  .field input:placeholder-shown + label,
  .field textarea:placeholder-shown + label,
  .field input:not(:placeholder-shown) + label,
  .field input:focus + label,
  .field textarea:not(:placeholder-shown) + label,
  .field textarea:focus + label {
    height: 3rem;
    line-height: 3rem;
  }
}
//Nascondo le label dei campi formio hidden
input[type="hidden"] + label {
  display: none;
}
.formio-component-label-hidden.formio-component-hidden {
  .field {
    height: auto;
  }
}

//Floating label
.field {
  display: flex;
  flex-flow: column-reverse;
  height: 87px;
  margin-bottom: 0.5rem;

  .formio-component-textarea & {
    height: auto;
    min-height: 87px;
  }

  label,
  input,
  textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  input,
  textarea {
    font-size: 16px;
    // border: 0;
    font-family: inherit;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 6px 10px 6px 8px;
    cursor: text;
    background: transparent;
  }

  input:focus,
  textarea:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }

  .input-group {
    color: rgb(26, 26, 26);
    margin: 40px 0 20px;
    input:placeholder-shown + label {
      transform: translate(-0.7rem, 1.6rem);
    }
  }

  input:placeholder-shown + label,
  textarea:placeholder-shown + label {
    cursor: text;
    height: auto;
    /// white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.5rem);
    //font-weight: 700;
    color: hsl(210, 17%, 44%);
    font-size: 18px;
    padding: 6px 10px 6px 8px;
    z-index: 1;
    i {
      z-index: 2;
    }
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  input:focus::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
  }

  textarea:focus::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
  }
  textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .input-group {
    color: rgb(26, 26, 26);
    input:not(:placeholder-shown) + label,
    input:focus + label {
      transform: translate(-0.7rem, -0.5rem);
    }
    input[readonly] + label,
    input[disabled] + label {
      transform: translate(-0.7rem, -2.5rem);
    }
  }
  input:not(:placeholder-shown) + label,
  input:focus + label,
  textarea:not(:placeholder-shown) + label,
  textarea:focus + label {
    transform: translate(0, 0rem);
    cursor: pointer;
    color: hsl(0, 0%, 10%);
    padding: 6px 10px 0px 8px;
    font-weight: 600;
    font-size: 0.875rem;
  }
  .input-group-text {
    font-weight: 700;
  }
}
.required {
  .floating-label:after {
    content: " *";
    color: #eb0000;
  }
}

.file-uploader-box {
  .upload-dragdrop-text {
    & > p,
    & > p > input {
      font-size: 0.875rem;
    }
  }
  &.focus--mouse:not(.btn, .dragover) {
    border-color: var(--bs-light) !important;
  }
  &.dragover {
    border-color: var(--bs-gray-400) !important;
  }
}
.upload-file-name-error-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.upload-file-list {
  .upload-file {
    &:first-child {
      margin-top: 1rem;
    }
    &.error {
      flex-wrap: wrap;
      max-width: unset;
      &:first-child {
        margin-top: 0rem;
      }
      &:last-child {
        margin-bottom: 0rem;
      }
      p {
        font-weight: normal;
        color: unset;
      }
    }
  }
}
