.page-break-before {
  page-break-before: always !important;
  page-break-inside: avoid !important;
}

.page-break-after {
  break-after: page !important;
  page-break-inside: avoid !important;
}

.pagebreak-container {
  margin: 0.1em;
  .pagebreak-component {
    border: 2px dashed #ddd;
    color: #aaa;
    padding: 0.5em 0;
  }
}
