.form-control.ui.fluid.selection.dropdown {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  box-shadow: none;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 48px;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  height: 2.5rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #5b6f82;
  outline: 0px !important;
  padding-left: 0.275rem;
  &[disabled] {
    background-color: hsl(210, 3%, 85%);
  }
}

.choices[data-type*="select-multiple"] {
  height: 114px;
  .form-control.ui.fluid.selection.dropdown {
    min-height: 114px;
  }
}

.choices[data-type*="select-one"]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 1.5px;
  top: 50%;
  margin-top: -1.5px;
  pointer-events: none;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 11;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  min-height: 2.25rem;
}
.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  white-space: unset;
  & > span {
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
}
.form-control {
  font-size: 1rem;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 1rem;
}
