@import "root";
@import "./componets/formio-core";
//@import "../../components/buildform/BuildForm";

$bootstrap-icons-font-dir: "https://static.opencityitalia.it/widgets/formio/fonts" !default;
$bootstrap-icons-font-hash: "";


@import "bootstrap-icons/font/bootstrap-icons";

//Variables
@import "variables/variables";

//Vendor
@import "@formio/choices.js/src/styles/choices.scss";
@import "vendor/tippy";
@import "vendor/dialog-polyfill";
@import "vendor/dragula";

//Components
@import "componets/accordion";
@import "componets/button";
@import "componets/card";
@import "componets/dynamic-calendar";
@import "componets/multi-range-slider";
@import "componets/fieldset";
@import "componets/input";
@import "componets/link-list";
@import "componets/textarea";
@import "componets/tooltip";
@import "componets/pagebreak";
@import "componets/paragraph";
@import "componets/progress";
@import "componets/select";
@import "componets/notification";
@import "componets/autocomplete.scss";
@import "componets/address-map.scss";

//Pages
@import "pages/landing";

//Utils
@import "utils/print";
@import "utils/focus";

body {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.form-group label {
  z-index: 0;
}

.formcomponent.drag-copy {
  width: 100%;
}

.form-group {
  margin-bottom: 0;
}

.pagebreak-container {
  margin: 0.1em;

  .pagebreak-component {
    border: 2px dashed #ddd;
    color: #aaa;
    padding: 0.5em 0;
  }
}

label.radio {
  top: -22px;
}

textarea {
  overflow: auto;
  resize: vertical;
  border: 1px solid #5c6f82;
  height: auto;
}

.fileSelector {
  position: relative;
  padding: 15px;
  border: 2px dashed #ddd;
  text-align: center;
}

.steppers .steppers-header ul {
  display: flex;
  width: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .steppers .steppers-index {
      display: none;
  }
}

@media (min-width: 992px) {
  .steppers .steppers-header li {
      padding: 16px 24px;
      text-transform: none;
  }
}

.form-check [type=checkbox]+label, .form-check [type=radio]+label {
  font-weight: 600;
}

.formio-component-textarea .card-body.bg-light:has(.formio-editor-read-only-content) {
  padding: 24px 8px 24px 8px;
  background-color: hsl(210, 3%, 85%) !important;
}

.accordion-header .accordion-button {
  padding: 14px 24px;
}
.accordion-header .accordion-button::after {
  content: url(
    "data:image/svg+xml,#{'%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 x=%270px%27 y=%270px%27 viewBox=%270 0 24 24%27 %3E%3Cg%3E%3Cpath fill=%27%23961430%27 d=%27M12,10.3l4.8,4.8c0.3,0.3,0.8,0.3,1.1,0c0.3-0.3,0.3-0.8,0-1c0,0,0,0,0,0l-4.8-4.8c-0.6-0.6-1.5-0.6-2.1,0L6.2,14c-0.3,0.3-0.3,0.8,0,1c0,0,0,0,0,0c0.3,0.3,0.8,0.3,1.1,0L12,10.3z%27/%3E%3C/g%3E%3C/svg%3E'}"
  );
}

.steppers .steppers-index {
  margin-left: auto;
  font-size: .875rem;
  font-weight: 600;
  flex-shrink: 0;
}

.steppers-content {
  height: auto !important;
  border: 2px dashed #eee;
  background: #fafafa;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  color: #333;
}

.cmp-hero {
  .categoryicon-top {
    .icon {
      position: relative;
      top: 12px;

      &.big-lg-icon {
        width: 1.75rem;
        @media (min-width: 768px) {
          width: 1.833rem;
        }
      }
    }
  }

  .it-hero-wrapper {
    min-height: unset;

    & .it-hero-text-wrapper {
      padding: 48px 0;
    }
  }

  .it-hero-wrapper .it-hero-text-wrapper .hero-title {
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 1rem;
  }

  .it-hero-wrapper .it-hero-text-wrapper .hero-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    max-width: 600px;
    color: black;

    p {
      color: black;
    }
  }
}

.min-height-500 {
  min-height: 500px;
}

.app-form-spinner {
  z-index: 1030;
  background-color: #b5b5b587;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .progress-spinner {
    position: absolute;
    left: calc(50vw - 24px);
    bottom: calc(50vh - 24px);
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem #00000026 !important;
}

@media (max-width: 575px) {
  .modal .modal-dialog {
    margin: 0;
  }
  .row > widget-formio {
    padding: 0 3px;
  }
  .cmp-card .card.has-bkg-grey,
  .cmp-card .card.has-bkg-primary-grey {
    padding: 12px;
  }
  .steppers .steppers-header {
    padding: 0 12px;
  }
  .steppers .steppers-nav {
    padding: 0;
    & > .btn {
      padding: 12px 0;
    }
    margin-bottom: 24px;
  }
  .cmp-card {
    margin-bottom: 12px;
  }
}

.cursor-pointer{
  cursor: pointer;
}
